.row
  .span4.offset4
    %h1 Check baggage
    = form_for @hacker do |f|
      .half= f.text_field :first_name, placeholder: 'First Name'
      .half= f.text_field :last_name, placeholder: 'Last Name'
      %br/
      = f.text_field :cell, placeholder: 'Cell Number'
      %br/
      .items
      %a.btn#add{href: '#'} Add Item
      = f.submit 'Check it', class: 'btn-success btn pull-right'
