!!!
%html
  %head
    %title Baggage
    = stylesheet_link_tag 'application', controller.controller_name, media: 'all'
    = javascript_include_tag 'application', 'app-wide', controller.controller_name
    = csrf_meta_tags
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            = link_to '/', class: 'brand' do
              %i.icon-plane
              Baggage
            %ul.nav.pull-right
              %li= link_to 'Github!', 'https://github.com/exchgr/baggage'
      = yield
